<%- contentFor('HeaderCss') %>
<!--Chartist Chart CSS -->
<link rel="stylesheet" href="public/plugins/chartist/css/chartist.min.css">
<!-- perticular page css -->

<%- contentFor('breadcrumb') %>
<div class="col-sm-6">
        <h4 class="page-title">Configuration</h4>
        
</div>

<%- contentFor('body') %>
<div class="row">
    
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-12 p-2">
                <div class="mb-2">
                    <span class="font-weight-bolder ">For this Merchant</span>
                </div>
                <div class="bg-white rounded pt-3 pb-3 pl-3 shadow">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="enable" name="enable" value="true">
                        <label class="custom-control-label" for="enable">Enable</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="disable" name="enable" value="false" checked>
                        <label class="custom-control-label" for="disable">Disable</label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="col-12 mb-2">
        <div class="row">
            <div class="col-12 col-md-12 p-2">
                <div class="mb-2 ">
                    <span class="font-weight-bolder ">Mode</span>
                </div>
                <div class="col-12 bg-white p-3 rounded shadow">
                    <div class="mb-2">
                        <span class="font-weight-bolder">Mode</span>
                    </div>
                    <div class="row pl-2">
                        <div class="col-12 col-md-8 mb-3 bg-light p-2 rounded">
                            <div class="row w-100">
                                <div class="col-3">
                                    <div class="mb-2">
                                        <span class="font-weight-bolder">Items:</span>
                                    </div>
                                    <div class="mb-2">
                                        <span class="font-weight-bolder">Orders:</span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-2">
                                        <span class="font-weight-bolder">Magento -> Arcadier</span>
                                    </div>
                                    <div class="mb-2">
                                        <span class="font-weight-bolder">Arcadier -> Magento</span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio text-center mt-3" >
                                        <input type="radio" class="custom-control-input" id="ma" name="mode" value="true" checked>
                                        <label class="custom-control-label" for="ma"></label>
                                      </div>  
                                </div>
    
                            </div>
                        </div>
                        <div class="col-12 col-md-8 bg-light p-2 rounded">
                            <div class="row w-100">
                                <div class="col-3">
                                    <div class="mb-2">
                                        <span class="font-weight-bolder">Items:</span>
                                    </div>
                                    <div class="mb-2">
                                        <span class="font-weight-bolder">Orders:</span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-2">
                                        <span class="font-weight-bolder"> Arcadier -> Magento </span>
                                    </div>
                                    <div class="mb-2">
                                        <span class="font-weight-bolder"> Magento -> Arcadier </span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio text-center mt-3" >
                                        <input type="radio" class="custom-control-input" id="am" name="mode" value="true">
                                        <label class="custom-control-label" for="am"></label>
                                      </div>  
                                </div>
    
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-12 p-2">
                <div class="mb-2">
                    <span class="font-weight-bolder ">Merchant</span>
                </div>
                
                
                <div class="bg-white rounded pt-3 pb-3 pl-3 shadow">
                    <div class="mb-2">
                        <span class="font-weight-bolder ">Magento Credentials</span>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3">
                            <label for="usr">User: </label>
                        </div>
                        <div class="col-9 pr-5">
                            <input type="text" class="form-control" id="usr">
                        </div>

                        <div class="col-3 mt-2">
                            <label for="pwd">Password: </label>
                        </div>
                        <div class="col-9 pr-5 mt-2">
                            <input type="text" class="form-control" id="pwd">
                        </div>


                        <div class="col-3 mt-2">
                            <label for="unknown">Endpoint: </label>
                        </div>
                        <div class="col-9 pr-5 mt-2">
                            <input type="text" class="form-control" id="endpoint">
                        </div>

                        <div class="col-3 mt-2">
                            <label for="test">Test: </label>
                        </div>
                        <div class="col-5 pr-5 mt-2">
                            <button class="btn btn-info" id="testBtn" onclick="butonPerform()">TEST ?</button>
                        </div>
                        <div class="col-4 pr-5 mt-2">
                            <button id="testSuccess" class="btn btn-success" style="display: none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                              </svg></button>
                            <button id="testFail" class="btn btn-danger"   style="display: none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg></button>
                        </div>


                        <div class="col-3 mt-2">
                            <label for="myDate">Connect: </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2 mt-2">
                            <input type="text" class="form-control" id="myDate" readonly>
                        </div>
                        <!-- <button type="submit" class="btn btn-primary mb-2 mt-2" onclick="myFunction()">Date</button> -->
                    </div>
                    <div class="row mt-2">
                        <div class="col-3">
                            <label for="test">Disconnect: </label>
                        </div>
                        <div class="col-9">
                        <button type="submit" class="btn btn-primary mb-2" onclick="clearAll()">Disconnect ?</button>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="checkbox" id="deleteField"> 
                            <label for="deleteField">Delete</label>
                        </div>
                        </div>
                    </div>



                        <!-- 
                        <div class="col-9 pr-5 mt-2">
                            <div class="col-6">
                                <input type="text" class="form-control" id="connect" name="connect">
                            </div>
                        </div> -->
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-12 p-2">
                    <div class="bg-white rounded pt-3 pb-3 pl-3 shadow">
                        <div class="row mb-3">
                            <div class="col-3 text-center font-weight-bold">INITIAL  DATE/TIME</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3 text-center font-weight-bold">IMPORT  DATE/TIME</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-12 p-2">
                    <div class="bg-white rounded pt-3 pb-3 pl-3 shadow">
                        <div class="text-center">
                            DO NOT SYNC ITEMS WITH LESS THAN <span>
                                <input type="text" style="width: 35px; border-radius: 5px;" placeholder="51" name="lessinput">
                            </span> IN STORE.
                        </div>
                        <div class="text-center">
                            DO NOT SYNC ITEMS BELOW <span>
                                <input type="text" style="width: 35px; border-radius: 5px;" placeholder="5" name="belowinput">
                            </span> IN STOCK.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   
</div>
    <!-- end row -->

<%- contentFor('FooterJs') %>
<script>
    function clearAll(){
        document.getElementById('usr').value = '';
        document.getElementById('pwd').value = '';
        document.getElementById('endpoint').value = '';
        document.getElementById('myDate').value = '';
    } 
    function butonPerform(){
        if(Math.floor(Math.random() * 10) > 5){
            console.log(Math.floor(Math.random() * 10));
            $("#testSuccess").css('display' , 'block');
            $("testFail").css('display' , 'none');
            myFunction();
        }
        else{
            console.log('Lesser Than 5');
            $("#testSuccess").css('display' , 'none');
            $("testFail").css('display' , 'block');
        }
    };

    function myFunction() {
      const x = new Date();
      console.log(x);
      console.log(x.getDate() , x.getMonth() , x.getFullYear());
      document.getElementById("myDate").value =  (x.getDate()).toString() + "-" + (x.getMonth() + 1).toString() + '-' + (x.getFullYear()).toString();
    };
    function deleteIt(){

    };

</script>
 <script src="public/assets/pages/dashboard.js"></script>

 <%- contentFor('BottomJs') %>
 <!-- nothing -->




