<%- contentFor('HeaderCss') %>
<!--Chartist Chart CSS -->
<link rel="stylesheet" href="public/assets/css/pages/category.css">
<!-- perticular page css -->

<%- contentFor('breadcrumb') %>
<div class="col-sm-6">
    <h4 class="page-title">Category Mapping</h4>
        
</div>

<%- contentFor('body') %>
<div class="row category h-100">
    <div class="col-6 font-weight-bolder">
        Magento
    </div>
    <div class="col-6 font-weight-bolder">
        Arcadier
    </div>

    <div class="col-6 p-0 mt-2">
        <ul class="nav flex-column" role="tablist">
            <li class="nav-item ">
              <a class="nav-link active" data-toggle="tab" href="#a">A</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" data-toggle="tab" href="#b">B</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#c">C</a>
            </li>
          </ul>
    </div>
    <div class="col-6 p-0 tab-content-box mt-2">
        <div class="tab-content">
            <div id="a" class="container tab-pane active">
                <div class="custom-control custom-checkbox mt-3 mb-3">
                    <input type="checkbox" class="custom-control-input" id="m1" name="m1">
                    <label class="custom-control-label" for="m1">M</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="n1" name="n1">
                    <label class="custom-control-label" for="n1">N</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="o1" name="o1">
                    <label class="custom-control-label" for="o1">O</label>
                  </div>
            </div>
            <div id="b" class="container tab-pane fade">
                <div class="custom-control custom-checkbox mt-3 mb-3">
                    <input type="checkbox" class="custom-control-input" id="m2" name="m">
                    <label class="custom-control-label" for="m2">M</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="n2" name="n">
                    <label class="custom-control-label" for="n2">N</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="o2" name="o">
                    <label class="custom-control-label" for="o2">O</label>
                  </div>
            </div>
            <div id="c" class="container tab-pane fade">
                <div class="custom-control custom-checkbox mt-3 mb-3">
                    <input type="checkbox" class="custom-control-input" id="m3" name="m">
                    <label class="custom-control-label" for="m3">M</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="n3" name="n">
                    <label class="custom-control-label" for="n3">N</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="o3" name="o">
                    <label class="custom-control-label" for="o3">O</label>
                  </div>
            </div>
          </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>
 <!-- nothing -->




