<%- contentFor('HeaderCss') %>
    <!--Chartist Chart CSS -->
    <link rel="stylesheet" href="public/plugins/chartist/css/chartist.min.css">
    <!-- perticular page css -->

    <%- contentFor('breadcrumb') %>
        <div class="col-sm-6">
            <h4 class="page-title">Synchronization</h4>

        </div>

        <%- contentFor('body') %>
        <div class="row">
            <div class="col-12 mb-2">
                <span class="font-weight-bolder mr-4">Status</span>
                <span class="font-weight-bolder text-success mr-2">Ok</span>
            </div>
            <div class="col-12 mb-2">
                <span class="font-weight-bolder mr-4">Status</span>
                <span class="font-weight-bolder text-danger mr-2">Error</span>
            </div>
            <div class="col-12 mb-2">
                <span class="font-weight-bolder mr-4">Status</span>
                <span class="font-weight-bolder "> -</span>
            </div>
            <div class="col-12 bg-white p-2 mb-2 rounded shadow">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date Time</th>
                                <th>Type</th>
                                <th>Trigger</th>
                                <th>Created</th>
                                <th>Unchanged</th>
                                <th>Changed</th>
                                <th>Deleted</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>20-03-2021</td>
                                <td>Item</td>
                                <td>
                                    Manual
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    Pending
                                </td>
                            </tr>

                            <tr>
                                <td>20-03-2021</td>
                                <td>Order</td>
                                <td>
                                    Fast
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    In Progress
                                </td>
                            </tr>

                            <tr>
                                <td>20-03-2021</td>
                                <td>Item</td>
                                <td>
                                    Slow
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    Completed
                                </td>
                            </tr>

                            <tr>
                                <td>20-03-2021</td>
                                <td>Item</td>
                                <td>
                                    Manual
                                </td>
                                <td>
                                    1
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    In Progress
                                </td>
                            </tr>

                            <tr>
                                <td>20-03-2021</td>
                                <td>Order</td>
                                <td>
                                    Triggered
                                </td>
                                <td>
                                    2
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    4
                                </td>
                                <td>
                                    Completed
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            
            <div class="col-12 mb-2 bg-white p-3 rounded shadow">
                <div class="mb-2">
                    <span class="font-weight-bolder">Mode</span>
                </div>
                <div class="row pl-2">
                    <div class="col-12 col-md-8 mb-3 bg-light p-2 rounded">
                        <div class="row w-100">
                            <div class="col-1">
                                <div class="custom-control custom-radio text-center mt-3" >
                                    <input type="radio" class="custom-control-input" id="ma" name="mode" value="true" checked>
                                    <label class="custom-control-label" for="ma"></label>
                                  </div>  
                            </div>

                            <div class="col-2">
                                <div class="mb-2">
                                    <span class="font-weight-bolder">Items:</span>
                                </div>
                                <div class="mb-2">
                                    <span class="font-weight-bolder">Orders:</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-2">
                                    <span class="font-weight-bolder">Magento -> Arcadier</span>
                                </div>
                                <div class="mb-2">
                                    <span class="font-weight-bolder"> Arcadier -> Magento </span>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                    <div class="col-12 col-md-8 bg-light p-2 rounded">
                        <div class="row w-100">
                            <div class="col-1">
                                <div class="custom-control custom-radio text-center mt-3" >
                                    <input type="radio" class="custom-control-input" id="am" name="mode" value="true">
                                    <label class="custom-control-label" for="am"></label>
                                  </div>  
                            </div>
                            <div class="col-2">
                                <div class="mb-2">
                                    <span class="font-weight-bolder">Items:</span>
                                </div>
                                <div class="mb-2">
                                    <span class="font-weight-bolder">Orders:</span>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="mb-2">
                                    <span class="font-weight-bolder"> Arcadier -> Magento </span>
                                </div>
                                <div class="mb-2">
                                    <span class="font-weight-bolder"> Magento -> Arcadier </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


            <div class="col-12 mb-2 bg-white p-3 rounded shadow">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#menu">Manual</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#event">Event</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#fast">Fast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#slow">Slow</a>
                      </li>
                  </ul>
                  
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane container active" id="menu">
                        <div class="row p-3 ">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="data" name="data">
                                    <label class="custom-control-label" for="data">Orders</label>
                                  </div>

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="items" name="items">
                                    <label class="custom-control-label" for="items">Items</label>
                                  </div>

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="category" name="category">
                                    <label class="custom-control-label" for="category">Categories</label>
                                  </div>

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="qty" name="qty">
                                    <label class="custom-control-label" for="qty">Quantity</label>
                                  </div>

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="beta" name="beta">
                                    <label class="custom-control-label" for="beta">Details</label>
                                  </div>


                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="price" name="price">
                                    <label class="custom-control-label" for="price">Prices</label>
                                  </div>
                            </div>
                            <div class="col-6 justify-content-center mx-auto text-center">
                                <button class="btn btn-primary mt-5">Run Now</button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="event">
                        <div class="row p-3">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="data2" name="data">
                                    <label class="custom-control-label" for="data2">Orders</label>
                                  </div>

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="items2" name="items">
                                    <label class="custom-control-label" for="items2">Items</label>
                                  </div>

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="category2" name="category">
                                    <label class="custom-control-label" for="category2">Categories</label>
                                  </div>

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="qty2" name="qty">
                                    <label class="custom-control-label" for="qty2">Quantity</label>
                                  </div>

                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="beta2" name="beta">
                                    <label class="custom-control-label" for="beta2">Details</label>
                                  </div>


                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="price2" name="price">
                                    <label class="custom-control-label" for="price2">Prices</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="fast">
                        <div class="row p-3">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="data3" name="data">
                                    <label class="custom-control-label" for="data3">Orders</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="qty3" name="qty">
                                    <label class="custom-control-label" for="qty3">Quantity</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="price3" name="price">
                                    <label class="custom-control-label" for="price3">Prices</label>
                                  </div>
                            </div>
                            <div class="col-6 justify-content-center mx-auto text-center">
                                <!-- <button class="btn btn-primary mt-5">Run Now</button> -->
                                Every <input type="text" style="width: 35px; border-radius: 5px;" placeholder="5" name="slowinput"> Minutes
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="slow">
                        <div class="row p-3">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="data4" name="data">
                                    <label class="custom-control-label" for="data4">Orders</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="qty4" name="qty">
                                    <label class="custom-control-label" for="qty4">Quantity</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="price4" name="price">
                                    <label class="custom-control-label" for="price4">Prices</label>
                                  </div>
                            </div>
                            <div class="col-6 justify-content-center mx-auto text-center">
                                <!-- <button class="btn btn-primary mt-5">Run Now</button> -->
                                Every <input type="text" style="width: 35px; border-radius: 5px;" placeholder="120" name="slowinput"> Minutes
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>


        <!-- end row -->

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>
    <!-- nothing -->