<%- contentFor('HeaderCss') %>
<!--Chartist Chart CSS -->
<link rel="stylesheet" href="public/plugins/chartist/css/chartist.min.css">
<!-- perticular page css -->

<%- contentFor('breadcrumb') %>
<div class="col-sm-6">
        <h4 class="page-title">Item Control</h4>
        
</div>

<%- contentFor('body') %>
<div class="row">
        <div class="col-12 p-3 bg-white shadow rounded">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Magento Item</th>
                            <th>Magento Category</th>
                            <th>Syncronise</th>
                            <th>Default Category</th>
                            <th>Override Default Category</th>
                            <th>Override Category</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Item One</td>
                            <td>Category One</td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name = "customCheck" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2"><span name = "customSpan"></span></label>
                                </div>
                            </td>
                            <td>
                                Category Text
                            </td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3" name = "customCheck">
                                    <label class="custom-control-label" for="customCheck3"><span name = "customSpan"></span></label>
                                </div>
                            </td>
                            <td>
                                Overide Text One
                            </td>
                            </tr>

                            <tr>
                                <td>Item Two</td>
                                <td>Category Two</td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck4" name = "customCheck">
                                        <label class="custom-control-label" for="customCheck4"><span name = "customSpan"></span></label>
                                    </div>
                                </td>
                                <td>
                                    Category Text 
                                </td>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck5" name = "customCheck">
                                        <label class="custom-control-label" for="customCheck5"><span name = "customSpan"></span></label>
                                    </div>
                                </td>
                                <td>
                                    Overide Text Two
                                </td>

                        </tr>
                        <tr>
                            <td>Item Three</td>
                            <td>Category Three</td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck6" name = "customCheck">
                                    <label class="custom-control-label" for="customCheck6"><span name = "customSpan"></span></label>
                                </div>
                            </td>
                            <td>
                                Category Text
                            </td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck7" name = "customCheck">
                                    <label class="custom-control-label" for="customCheck7"><span name = "customSpan"></span></label>
                                </div>
                            </td>
                            <td>
                                Overide Text Three
                            </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end row -->

<%- contentFor('FooterJs') %>
 
<script>
    $('input[name="customCheck"]').click(function() {
        console.log("Clicked");
        var checked = $('input[name="customCheck"]').is(':checked');
        console.log(checked);
        if(checked){
            $('input[name="customCheck"] span').text('Selected');
        }
        else{
            $('input[name="customCheck"] span').text('Select');
        }
    });
</script>
 <script src="public/assets/pages/dashboard.js"></script>

 <%- contentFor('BottomJs') %>
 <!-- nothing -->




